<template>
  <div id="app">
    <MainLayout></MainLayout>
  </div>
</template>
<script>
import MainLayout from './components/MainLayout'
export default {
  components: {
    MainLayout
  }
}
</script>
